# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
WChatApp/android/app/aliyun-emas-services.json
WChatServer/WChatServer/appsettings.json

# c#
bin
obj
.vs
WChatServer/.vs
.vs
/WChatServer/DAL/obj
/WChatServer/DAL/bin
/WChatServer/Store/obj
/WChatServer/Store/bin
.vs
obj
obj
.vs
obj
bin
obj
bin
*.lock
*.ide
*.ide-shm
*.ide-wal
*.config
*.dll
/WChatServer/DAL/bin/Debug/netcoreapp2.0/DAL.deps.json
/WChatServer/DAL/bin/Debug/netcoreapp2.0/DAL.dll
/WChatServer/DAL/bin/Debug/netcoreapp2.0/DAL.pdb
/WChatServer/DAL/obj/DAL.csproj.nuget.cache
/WChatServer/DAL/obj/DAL.csproj.nuget.g.props
/WChatServer/DAL/obj/DAL.csproj.nuget.g.targets
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.AssemblyInfo.cs
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.AssemblyInfoInputs.cache
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.csproj.CoreCompileInputs.cache
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.csproj.FileListAbsolute.txt
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.csprojResolveAssemblyReference.cache
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.dll
/WChatServer/DAL/obj/Debug/netcoreapp2.0/DAL.pdb
/WChatServer/DAL/obj/Debug/netcoreapp2.0/project.razor.json
/WChatServer/DAL/obj/project.assets.json
/WChatServer/Store/bin/Debug/netcoreapp2.0/DAL.dll
/WChatServer/Store/bin/Debug/netcoreapp2.0/DAL.pdb
/WChatServer/Store/bin/Debug/netcoreapp2.0/Store.deps.json
/WChatServer/Store/bin/Debug/netcoreapp2.0/Store.dll
/WChatServer/Store/bin/Debug/netcoreapp2.0/Store.pdb
/WChatServer/Store/bin/Debug/netcoreapp2.0/WChatDb.dll
/WChatServer/Store/bin/Debug/netcoreapp2.0/WChatDb.pdb
/WChatServer/Store/bin/Debug/netcoreapp2.0/aliyun-net-sdk-core.dll
/WChatServer/Store/bin/Debug/netcoreapp2.0/aliyun-net-sdk-core.pdb
/WChatServer/Store/bin/Debug/netcoreapp2.0/aliyun-net-sdk-push.dll
/WChatServer/Store/bin/Debug/netcoreapp2.0/aliyun-net-sdk-push.pdb
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.AssemblyInfo.cs
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.AssemblyInfoInputs.cache
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.csproj.CopyComplete
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.csproj.CoreCompileInputs.cache
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.csproj.FileListAbsolute.txt
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.csprojResolveAssemblyReference.cache
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.dll
/WChatServer/Store/obj/Debug/netcoreapp2.0/Store.pdb
/WChatServer/Store/obj/Debug/netcoreapp2.0/project.razor.json
/WChatServer/Store/obj/Store.csproj.nuget.cache
/WChatServer/Store/obj/Store.csproj.nuget.g.props
/WChatServer/Store/obj/Store.csproj.nuget.g.targets
